@CHARSET "UTF-8";

/* 实现card body 高度100% */
.my-layout-body .ivu-card{
    height: 100%;
    padding: 51px 0 0;
}

.my-layout-body .ivu-card-padding{
    padding: 2px;
    height: 100%;
    width: auto;
}

/* 实现card body 高度100% */
.my-layout-body .ivu-card .ivu-card-head{
    margin: -51px 0 0;
}

/* 实现card body 高度100% */
.my-layout-body .ivu-card .ivu-card-body{
    height: 100%;
    overflow: auto;
}

/* 实现card body 内边距 */
.my-layout-body .ivu-card-body-padding .ivu-card-body {
    padding: 5px 5px;
}

/* 实现card head 样式 */
.my-layout-body .ivu-card .ivu-card-head {
    border-bottom: 1px solid #e9eaec;
    padding: 14px 16px;
    line-height: 1;
    background-color: #eaf4fe;
}

/* 实现tabs高度100% */
.layout-tabs {
    height: 100%;
    padding: 0px 0px 0px;
    box-sizing: border-box;
}

/* tab选项卡头部和内容的间距 */
.layout-tabs-content {
    height: 100%;
    min-height: 400px;
    margin: 0px;
    padding: 32px 1px 0px;
    overflow: hidden;
    background: #eee;
    border-radius: 4px;
}

/* tab选项卡头部和内容的间距  */
/* tab选项卡头部和上面2px间距 */
/* tab选项卡头部和内容0间距 */
.ivu-tabs-bar {
    border-bottom: 1px solid #dddee1;
    margin-bottom: 0px;
    margin-top: -30px;
}

/* tab选项卡内容的高度  */
.layout-tabs .ivu-tabs .ivu-tabs-content{
    height:100%;
}

/* tab选项卡内容的高度  */
.layout-tabs .ivu-tabs .ivu-tabs-tabpane {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height:100%;
    transition: opacity .3s;
    opacity: 1;
}

/* 实现编辑表格按钮隐藏显示 */
.show-edit-btn{
    display: none;
    margin-left: -10px;
}

/* 实现编辑表格按钮隐藏显示 */
.ivu-table-cell:hover .show-edit-btn{
    display: inline-block;
}

