@CHARSET "UTF-8";

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.fil-height{
    height: 100%;
    overflow: auto;
}

.fil-width{
    width: 100%;
}

.my-app {
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.my-box {
    height: 100%;
}

.my-layout {
    width: 100%;
    height: 100%;
    /* 上下间距 60px */
    padding: 60px 0;
    border: 0px solid #d7dde4;
    border-radius: 4px;
    overflow:hidden;
}

.my-layout-clear-top {
    /*下间距 60px */
    padding: 0 0 60px;
}

.my-layout-clear-top-10 {
    /*上10px下间距 60px */
    padding: 10px 0 60px;
}

.my-layout-clear-top-bottom {
    padding: 0px;
}

.my-layout-top{
    width: 100%;
    height:60px;
    /* 向上偏移 60px */
    margin: -60px 0 0;
}

.my-layout-body{
    width: 100%;
    /* 占满剩余高度 */
    height: 100%;
    background: #fff;
}

.my-layout-bottom{
    width: 100%;
    height:60px;
    /* 向下偏移 60px */
    margin:0 0 -60px;
}

.float-left{
    float: left;margin: 0 10px;
}

.float-right{
    float: right;margin: 0 10px;
}

.col-left{
    padding: 0 5px 0 10px;
}

.col-right{
    padding: 0 10px 0 5px;
}

.my-label {
    text-align: right;
    vertical-align: middle;
    float: left;
    font-size: 14px;
    color: #495060;
    line-height: 1;
    padding: 10px 12px 10px 0;
    box-sizing: border-box;
}


/* 圆角容器 */
.radius-box {
    border: 1px solid #eee;
    border-radius: 6px;
    margin-bottom: 20px;
    position: relative;
    transition: all .2s ease-in-out;
}

/* 圆角容器边框阴影 */
.radius-box:hover{
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
}

.margin-top-8{
    margin-top: 8px;
}
.margin-top-10{
    margin-top: 10px;
}
.margin-top-20{
    margin-top: 20px;
}
.margin-left-10{
    margin-left: 10px;
}
.margin-bottom-10{
    margin-bottom: 10px;
}
.margin-bottom-100{
    margin-bottom: 100px;
}
.margin-right-10{
    margin-right: 10px;
}

.padding-2{
    padding: 2px;
}

.padding-5{
    padding: 5px;
}

.padding-10{
    padding: 10px;
}

.padding-20{
    padding: 20px;
}

.padding-left-0{
    padding-left: 0px;
}

.padding-left-5{
    padding-left: 5px;
}
.padding-left-6{
    padding-left: 6px;
}
.padding-left-8{
    padding-left: 5px;
}
.padding-left-10{
    padding-left: 10px;
}
.padding-left-20{
    padding-left: 20px;
}

.input-200{
    width:200px;
}

.input-300{
    width:300px;
}

.line-gray{
    height: 0;
    border-bottom: 2px solid #dcdcdc;
}

.notwrap{
    word-break:keep-all;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.auditNew{
    color: #111111;
}

.auditPass{
    color: #009900;
}

.auditReturn{
    color: #ee621d;
}

.auditProcess{
    color: #2d8cf0;
}

.stateWrite{
    color: #009900;
}

.stateReadOnly{
    color: #ee3834;
}