<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springmvc.mapper.AuditKindProcessMapper">

  <resultMap id="BaseResultMap" type="com.springmvc.model.AuditKindProcess">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="kId" jdbcType="INTEGER" property="kid" />
    <result column="stepNum" jdbcType="INTEGER" property="stepnum" />
    <result column="departId" jdbcType="INTEGER" property="departid" />
    <result column="enable" jdbcType="VARCHAR" property="enable" />
    <result column="pName" jdbcType="VARCHAR" property="pname" />
  </resultMap>

  <resultMap extends="BaseResultMap" id="JoinResultMap" type="com.springmvc.model.AuditKindProcess">
    <!-- 增加级联属性 -->
    <result column="departname" jdbcType="VARCHAR" property="departname" />
    <result column="auditkind" jdbcType="VARCHAR" property="auditkind" />
  </resultMap>

  <sql id="Base_Column_List">
    id,pName, kId, stepNum, departId, enable
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="JoinResultMap">
    select ap.id,ap.pName,ap.kId,ap.stepNum,ap.departId,ap.enable,d.name as departname, ak.name as auditkind
    from audit_kind ak JOIN audit_kind_process ap on ak.id=ap.kid
    JOIN department d on d.id=ap.departId
    join corporation c on d.corporationId=c.id
    where ap.id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from audit_kind_process
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <!-- useGeneratedKeys=true 插入方法获取主键值 -->
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.springmvc.model.AuditKindProcess">
    insert into audit_kind_process
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pname != null">
        pName,
      </if>
      <if test="kid != null">
        kId,
      </if>
      <if test="stepnum != null">
        stepNum,
      </if>
      <if test="departid != null">
        departId,
      </if>
      <if test="enable != null">
        enable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pname != null">
        #{pname,jdbcType=VARCHAR},
      </if>
      <if test="kid != null">
        #{kid,jdbcType=INTEGER},
      </if>
      <if test="stepnum != null">
        #{stepnum,jdbcType=INTEGER},
      </if>
      <if test="departid != null">
        #{departid,jdbcType=INTEGER},
      </if>
      <if test="enable != null">
        #{enable,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.springmvc.model.AuditKindProcess">
    update audit_kind_process
    <set>
      <if test="pname != null">
        pName = #{pname,jdbcType=VARCHAR},
      </if>
      <if test="kid != null">
        kId = #{kid,jdbcType=INTEGER},
      </if>
      <if test="stepnum != null">
        stepNum = #{stepnum,jdbcType=INTEGER},
      </if>
      <if test="departid != null">
        departId = #{departid,jdbcType=INTEGER},
      </if>
      <if test="enable != null">
        enable = #{enable,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getCount" resultType="int">
    select count(1) from audit_kind ak
    JOIN audit_kind_process ap on ak.id=ap.kid
    JOIN department d on d.id=ap.departId
    join corporation c on d.corporationId=c.id
    <if test="where != null">where ${where}</if>
    <if test="orderBy != null">order by ${orderBy}</if>
  </select>

  <select id="selectPagination" resultMap="JoinResultMap">
    select ap.id,ap.pName,ap.kId,ap.stepNum,ap.departId,ap.enable,d.name as departname, ak.name as auditkind
    from audit_kind ak JOIN audit_kind_process ap on ak.id=ap.kid
    JOIN department d on d.id=ap.departId
    join corporation c on d.corporationId=c.id
    <if test="where != null">where ${where}</if>
    <if test="orderBy != null">order by ${orderBy}</if>
    limit #{start},#{pageSize}
  </select>

</mapper>