<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springmvc.mapper.AuditWaitOpinionMapper">

  <resultMap id="BaseResultMap" type="com.springmvc.model.AuditWaitOpinion">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="awId" jdbcType="INTEGER" property="awid" />
    <result column="psid" jdbcType="INTEGER" property="psid" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="step" jdbcType="INTEGER" property="step" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="auditState" jdbcType="VARCHAR" property="auditstate" />
    <result column="opinion" jdbcType="VARCHAR" property="opinion" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createdate" />
    <result column="receiveDate" jdbcType="TIMESTAMP" property="receivedate" />
  </resultMap>

  <sql id="Base_Column_List">
    id, awId, psid, pid, step, uid, auditState, opinion, createDate,receiveDate
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from audit_wait_opinion
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByAwid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from audit_wait_opinion
    where awid = #{awid,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from audit_wait_opinion
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.springmvc.model.AuditWaitOpinion">
    insert into audit_wait_opinion
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="awid != null">
        awId,
      </if>
      <if test="psid != null">
        psid,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="step != null">
        step,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="auditstate != null">
        auditState,
      </if>
      <if test="opinion != null">
        opinion,
      </if>
      <if test="createdate != null">
        createDate,
      </if>
      <if test="receivedate != null">
       receiveDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="awid != null">
        #{awid,jdbcType=INTEGER},
      </if>
      <if test="psid != null">
        #{psid,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="step != null">
        #{step,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="auditstate != null">
        #{auditstate,jdbcType=VARCHAR},
      </if>
      <if test="opinion != null">
        #{opinion,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="receivedate != null">
        #{receivedate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.springmvc.model.AuditWaitOpinion">
    update audit_wait_opinion
    <set>
      <if test="awid != null">
        awId = #{awid,jdbcType=INTEGER},
      </if>
      <if test="psid != null">
        psid = #{psid,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="step != null">
        step = #{step,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="auditstate != null">
        auditState = #{auditstate,jdbcType=VARCHAR},
      </if>
      <if test="opinion != null">
        opinion = #{opinion,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        createDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="receivedate != null">
        receiveDate = #{receivedate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>