<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springmvc.mapper.AuditWaitMapper">
  <resultMap id="BaseResultMap" type="com.springmvc.model.AuditWait">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pId" jdbcType="INTEGER" property="pid" />
    <result column="steps" jdbcType="INTEGER" property="steps" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createdate" />
    <result column="receiveDate" jdbcType="TIMESTAMP" property="receivedate" />
    <result column="endDate" jdbcType="TIMESTAMP" property="enddate" />
    <result column="uId" jdbcType="INTEGER" property="uid" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="tName" jdbcType="VARCHAR" property="tname" />
    <result column="tKey" jdbcType="VARCHAR" property="tkey" />
    <result column="tValue" jdbcType="VARCHAR" property="tvalue" />
    <result column="content" jdbcType="VARCHAR" property="content" />
  </resultMap>

  <resultMap extends="BaseResultMap" id="JoinResultMap" type="com.springmvc.model.AuditWait">
    <!-- 增加级联属性 -->
    <result column="auid" jdbcType="INTEGER" property="auid" />
    <result column="sendUser" jdbcType="VARCHAR" property="senduser" />
    <result column="sendDepart" jdbcType="VARCHAR" property="senddepart" />
    <result column="pName" jdbcType="VARCHAR" property="pname" />
    <result column="operation" jdbcType="VARCHAR" property="operation" />
    <result column="kName" jdbcType="VARCHAR" property="kname" />
    <result column="stepNum" jdbcType="INTEGER" property="stepnum" />
  </resultMap>

  <sql id="Base_Column_List">
    id, pId, steps, status, createDate, receiveDate,enddate, uId, url, tName, tKey, tValue,content
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from audit_wait
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectNewest"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from audit_wait
    where tName=#{tName} and tKey=#{tKey} and tValue=#{tValue}
    order by id desc limit 1
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from audit_wait
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.springmvc.model.AuditWait">
    insert into audit_wait
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pid != null">
        pId,
      </if>
      <if test="steps != null">
        steps,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createdate != null">
        createDate,
      </if>
      <if test="receivedate != null">
        receiveDate,
      </if>
      <if test="enddate != null">
        endDate,
      </if>
      <if test="uid != null">
        uId,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="tname != null">
        tName,
      </if>
      <if test="tkey != null">
        tKey,
      </if>
      <if test="tvalue != null">
        tValue,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="steps != null">
        #{steps,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="receivedate != null">
        #{receivedate,jdbcType=TIMESTAMP},
      </if>
      <if test="enddate != null">
        #{enddate,jdbcType=TIMESTAMP},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="tname != null">
        #{tname,jdbcType=VARCHAR},
      </if>
      <if test="tkey != null">
        #{tkey,jdbcType=VARCHAR},
      </if>
      <if test="tvalue != null">
        #{tvalue,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.springmvc.model.AuditWait">
    update audit_wait
    <set>
      <if test="pid != null">
        pId = #{pid,jdbcType=INTEGER},
      </if>
      <if test="steps != null">
        steps = #{steps,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        createDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="receivedate != null">
        receiveDate = #{receivedate,jdbcType=TIMESTAMP},
      </if>
      <if test="enddate != null">
        endDate = #{enddate,jdbcType=TIMESTAMP},
      </if>
      <if test="uid != null">
        uId = #{uid,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="tname != null">
        tName = #{tname,jdbcType=VARCHAR},
      </if>
      <if test="tkey != null">
        tKey = #{tkey,jdbcType=VARCHAR},
      </if>
      <if test="tvalue != null">
        tValue = #{tvalue,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getAuditState" resultType="string">
    select ${auditState} from ${tName} where ${tKey}= #{tValue}
  </select>

  <update id="updateOperation">
    update ${tName} set auditState=#{auditState} where ${tKey}=#{tValue}
  </update>

  <select id="getAuditProcessCount" resultType="java.lang.Integer">
    select count(1) from audit_kind k,audit_kind_process p
    where
    k.operation=#{operation}
    and p.departId=#{departId}
    and p.`enable`=#{enable}
    and k.id=p.kId
  </select>

  <select id="getAuditProcess" resultType="java.lang.Integer">
    select pId from audit_wait
    where tName=#{tName} and tKey=#{tKey} and tValue=#{tValue}
    order by id desc limit 1
  </select>

  <select id="getCountByPid" parameterType="java.lang.Integer" resultType="int">
    select count(1) from audit_wait where pId=${pid} and status='审核中'
  </select>

  <select id="getAuditWaitCount" resultType="int">
    select count(1) from (
      select aw.id,aw.pid,aw.steps,aw.uid
      from audit_wait aw
      where status='审核中'
    ) aw
    join audit_kind_process_step ps on aw.pid=ps.pId and aw.steps=ps.step and ps.enable='启用'
    <if test="where != null">where ${where}</if>
  </select>

  <select id="getCount" resultType="int">
    select count(1) from (

    select aw.id,aw.pid,aw.steps,aw.uid,aw.createDate,aw.endDate

    from audit_wait aw

    <if test="whereInner != null">where ${whereInner}</if>

    order by aw.id

    <if test="orderByInner != null">, ${orderByInner}</if>

    ) aw

    join audit_kind_process_step ps on aw.pid=ps.pId and aw.steps=ps.step and ps.enable='启用'
    join users u on  aw.uid= u.id
    join department d on u.departId=d.id
    join  audit_kind_process p on ps.pId=p.id
    join audit_kind k on  p.kId=k.id

    <if test="where != null">where ${where}</if>

    order by aw.id

    <if test="orderBy != null">, ${orderBy}</if>
  </select>

  <select id="selectPagination" resultMap="JoinResultMap">
    select aw.*,ps.uid as auid,u.`name` as sendUser,d.`name` as sendDepart,p.stepNum,p.pName,k.operation,k.`name` as kName from (

    select aw.id,aw.pid,aw.steps,aw.uid,aw.createDate,aw.receiveDate,aw.endDate,aw.url,aw.tName,aw.tKey,aw.tValue,aw.status,aw.content

    from audit_wait aw

    <if test="whereInner != null">where ${whereInner}</if>

    order by aw.id

    <if test="orderByInner != null">, ${orderByInner}</if>

    limit #{start},#{pageSize}

    ) aw

    join audit_kind_process_step ps on aw.pid=ps.pId and aw.steps=ps.step and ps.enable='启用'
    join users u on  aw.uid= u.id
    join department d on u.departId=d.id
    join audit_kind_process p on ps.pId=p.id
    join audit_kind k on  p.kId=k.id

    <if test="where != null">where ${where}</if>

    order by aw.id

    <if test="orderBy != null">, ${orderBy}</if>

  </select>

</mapper>