<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springmvc.mapper.AuditKindProcessStepMapper">

  <resultMap id="BaseResultMap" type="com.springmvc.model.AuditKindProcessStep">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pId" jdbcType="INTEGER" property="pid" />
    <result column="uId" jdbcType="INTEGER" property="uid" />
    <result column="step" jdbcType="INTEGER" property="step" />
    <result column="enable" jdbcType="VARCHAR" property="enable" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createdate" />
  </resultMap>

  <resultMap extends="BaseResultMap" id="JoinResultMap" type="com.springmvc.model.AuditKindProcessStep">
    <!-- 增加级联属性 -->
    <result column="uName" jdbcType="VARCHAR" property="uname" />
    <result column="roleName" jdbcType="VARCHAR" property="rolename" />
    <result column="departName" jdbcType="VARCHAR" property="departname" />
  </resultMap>

  <sql id="Base_Column_List">
    id, pId, uId, step, enable, createDate
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from audit_kind_process_step
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByEnableStep" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from audit_kind_process_step
    where pid = #{pid,jdbcType=INTEGER} and step=#{step,jdbcType=INTEGER} and enable='启用'
    order by id
  </select>

  <select id="selectByPid" parameterType="java.lang.Integer" resultMap="JoinResultMap">
   select aps.id, aps.pId, aps.uId, aps.step, aps.enable, aps.createDate,
    u.name as uName, r.`name` as roleName, d.`name` as departName
    from audit_kind_process_step aps JOIN audit_kind_process ap on aps.pid=ap.id
    JOIN  users u on aps.uid=u.id
    join  role r on u.roleId=r.id
    join department d on u.departId=d.id
    where aps.pid = #{pid,jdbcType=INTEGER}
    order by aps.id
  </select>

  <delete id="deleteByProcessId" parameterType="java.lang.Integer">
    delete from audit_kind_process_step
    where pId = #{pId,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.springmvc.model.AuditKindProcessStep">
    insert into audit_kind_process_step
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pid != null">
        pId,
      </if>
      <if test="uid != null">
        uId,
      </if>
      <if test="step != null">
        step,
      </if>
      <if test="enable != null">
        enable,
      </if>
      <if test="createdate != null">
        createDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="step != null">
        #{step,jdbcType=INTEGER},
      </if>
      <if test="enable != null">
        #{enable,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.springmvc.model.AuditKindProcessStep">
    update audit_kind_process_step
    <set>
      <if test="pid != null">
        pId = #{pid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        uId = #{uid,jdbcType=INTEGER},
      </if>
      <if test="step != null">
        step = #{step,jdbcType=INTEGER},
      </if>
      <if test="enable != null">
        enable = #{enable,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getCount" resultType="int">
    select count(1)
    from audit_kind_process_step aps JOIN audit_kind_process ap on aps.pid=ap.id
    JOIN  users u on aps.uid=u.id
    join  role r on u.roleId=r.id
    join department d on u.departId=d.id
    <if test="where != null">where ${where}</if>
    <if test="orderBy != null">order by ${orderBy}</if>
  </select>

  <select id="selectPagination" resultMap="JoinResultMap">
    select aps.id, aps.pId, aps.uId, aps.step, aps.enable, aps.createDate,
    u.name as uName, r.`name` as roleName, d.`name` as departName
    from audit_kind_process_step aps JOIN audit_kind_process ap on aps.pid=ap.id
    JOIN  users u on aps.uid=u.id
    join  role r on u.roleId=r.id
    join department d on u.departId=d.id
    <if test="where != null">where ${where}</if>
    <if test="orderBy != null">order by ${orderBy}</if>
    limit #{start},#{pageSize}
  </select>

</mapper>