<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springmvc.mapper.DataDictionaryMapper">
  <resultMap id="BaseResultMap" type="com.springmvc.model.DataDictionary">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="dkey" jdbcType="VARCHAR" property="dkey" />
    <result column="dvalue" jdbcType="VARCHAR" property="dvalue" />
    <result column="dmemo" jdbcType="VARCHAR" property="dmemo" />
    <result column="display" jdbcType="INTEGER" property="display" />
    <result column="dorder" jdbcType="INTEGER" property="dorder" />
    <result column="edits" jdbcType="INTEGER" property="edits" />
  </resultMap>

  <sql id="Base_Column_List">
    id, dkey, dvalue, dmemo, display, dorder,edits
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from data_dictionary
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByDkey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from data_dictionary
    where dkey = #{dkey,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from data_dictionary
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.springmvc.model.DataDictionary">
    insert into data_dictionary
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dkey != null">
        dkey,
      </if>
      <if test="dvalue != null">
        dvalue,
      </if>
      <if test="dmemo != null">
        dmemo,
      </if>
      <if test="display != null">
        display,
      </if>
      <if test="dorder != null">
        dorder,
      </if>
      <if test="edits != null">
        edits,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dkey != null">
        #{dkey,jdbcType=VARCHAR},
      </if>
      <if test="dvalue != null">
        #{dvalue,jdbcType=VARCHAR},
      </if>
      <if test="dmemo != null">
        #{dmemo,jdbcType=VARCHAR},
      </if>
      <if test="display != null">
        #{display,jdbcType=INTEGER},
      </if>
      <if test="dorder != null">
        #{dorder,jdbcType=INTEGER},
      </if>
      <if test="edits != null">
        #{edits,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.springmvc.model.DataDictionary">
    update data_dictionary
    <set>
      <if test="dkey != null">
        dkey = #{dkey,jdbcType=VARCHAR},
      </if>
      <if test="dvalue != null">
        dvalue = #{dvalue,jdbcType=VARCHAR},
      </if>
      <if test="dmemo != null">
        dmemo = #{dmemo,jdbcType=VARCHAR},
      </if>
      <if test="display != null">
        display = #{display,jdbcType=INTEGER},
      </if>
      <if test="dorder != null">
        dorder = #{dorder,jdbcType=INTEGER},
      </if>
      <if test="edits != null">
        edits = #{edits,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getParentCount" resultType="int">
    select count(1) from (select DISTINCT dkey from data_dictionary

    <!-- 1) 对于形如#{variable} 的变量，Mybatis会将其视为字符串值，在变量替换成功后，缺省地给变量值加上引号 -->
    <!-- 2）对于形如${variable}的变量，Mybatis会将其视作直接变量，即在变量替换成功后，不会再给其加上引号。 -->
    <!-- 此处用$ 不用 #-->
    <choose>
      <when test="where != null">where ${where} and display=1</when>
      <otherwise>where display=1</otherwise>
    </choose>

    )  as data_dictionary

    <if test="orderBy != null">order by ${orderBy}</if>
  </select>

  <select id="selectParentPagination" resultMap="BaseResultMap">
    select
    DISTINCT dkey
    from data_dictionary

    <!-- 1) 对于形如#{variable} 的变量，Mybatis会将其视为字符串值，在变量替换成功后，缺省地给变量值加上引号 -->
    <!-- 2）对于形如${variable}的变量，Mybatis会将其视作直接变量，即在变量替换成功后，不会再给其加上引号。 -->
    <!-- 此处用$ 不用 #-->
    <choose>
      <when test="where != null">where ${where} and display=1</when>
      <otherwise>where display=1</otherwise>
    </choose>
    <if test="orderBy != null">order by ${orderBy}</if>

    limit #{start},#{pageSize}

  </select>

  <select id="getChildCount" resultType="int">
    select count(1) from data_dictionary
    <!-- 1) 对于形如#{variable} 的变量，Mybatis会将其视为字符串值，在变量替换成功后，缺省地给变量值加上引号 -->
    <!-- 2）对于形如${variable}的变量，Mybatis会将其视作直接变量，即在变量替换成功后，不会再给其加上引号。 -->
    <!-- 此处用$ 不用 #-->
    <choose>
      <when test="where != null">where ${where} and display=1</when>
      <otherwise>where display=1</otherwise>
    </choose>
    <if test="orderBy != null">order by ${orderBy}</if>
  </select>

  <select id="selectChildPagination" resultMap="BaseResultMap">
    select

    <include refid="Base_Column_List" />

    from data_dictionary

    <!-- 1) 对于形如#{variable} 的变量，Mybatis会将其视为字符串值，在变量替换成功后，缺省地给变量值加上引号 -->
    <!-- 2）对于形如${variable}的变量，Mybatis会将其视作直接变量，即在变量替换成功后，不会再给其加上引号。 -->
    <!-- 此处用$ 不用 #-->
    <choose>
      <when test="where != null">where ${where} and display=1</when>
      <otherwise>where display=1</otherwise>
    </choose>
    <if test="orderBy != null">order by ${orderBy}</if>

    limit #{start},#{pageSize}

  </select>

</mapper>