<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springmvc.mapper.EChartMapper">

    <!-- 查询某个用户最近几年的登录统计 -->
  <select id="getLoginUserLastNYearsForYearCity" resultType="java.util.Map">
   select date_format(createDate, '%Y') as legend, city as axis,count(1) as data from users_login_log

   where usersId=${usersId} and  date_format(createDate, '%Y')>(date_format(now(), '%Y')-${num})

   and ip is not null

   group by date_format(createDate, '%Y'), city
  </select>

    <!-- 查询某个用户最近几年的登录统计 -->
    <select id="getLoginUserLastNYearsForCityYear" resultType="java.util.Map">
        select city as legend ,date_format(createDate, '%Y') as axis ,count(1) as data from users_login_log

        where usersId=${usersId} and  date_format(createDate, '%Y')>(date_format(now(), '%Y')-${num})

        and ip is not null

        group by date_format(createDate, '%Y'),city
    </select>

    <!-- 查询某个用户最近几年的登录统计 -->
    <select id="getLoginUserLastNYearsForCity" resultType="java.util.Map">
        select city as legend ,count(1) as data from users_login_log

        where  usersId=${usersId}

        and  date_format(createDate, '%Y')>(date_format(now(), '%Y')-${num})

        and ip is not null

        group by city
    </select>

    <!-- 查询某个用户最近几年的登录统计 -->
    <select id="getLoginAllUserForCity" resultType="java.util.Map">
        select city as name ,count(1) as value from users_login_log

        where ip is not null

        group by city
    </select>

</mapper>