<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springmvc.mapper.SysDataLogMapper">
  <resultMap id="BaseResultMap" type="com.springmvc.model.SysDataLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uId" jdbcType="INTEGER" property="uid" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="funId" jdbcType="VARCHAR" property="funid" />
    <result column="funName" jdbcType="VARCHAR" property="funname" />
    <result column="resource" jdbcType="VARCHAR" property="resource" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>

  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.springmvc.model.SysDataLog">
    <result column="changed" jdbcType="LONGVARCHAR" property="changed" />
  </resultMap>

  <sql id="Base_Column_List">
    id, uId, type, name, funId,funName, resource, createTime
  </sql>

  <sql id="Blob_Column_List">
    changed
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_data_log
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_data_log
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.springmvc.model.SysDataLog">
    insert into sys_data_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uId,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="funid != null">
        funId,
      </if>
      <if test="funname != null">
        funName,
      </if>
      <if test="resource != null">
        resource,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="changed != null">
        changed,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="funid != null">
        #{funid,jdbcType=VARCHAR},
      </if>
      <if test="funname != null">
        #{funname,jdbcType=VARCHAR},
      </if>
      <if test="resource != null">
        #{resource,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="changed != null">
        #{changed,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

  <select id="getCount" resultType="int">
    select count(1)
    from sys_data_log s
    <if test="where != null">where ${where}</if>
    <if test="orderBy != null">order by ${orderBy}</if>
  </select>

  <select id="selectPagination" resultMap="BaseResultMap">
    select id, uId, type, name, funId,funName, resource, createTime
    from sys_data_log s
    <if test="where != null">where ${where}</if>
    <if test="orderBy != null">order by ${orderBy}</if>
    limit #{start},#{pageSize}
  </select>

</mapper>