<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springmvc.mapper.SysNoticeMapper">

  <resultMap id="BaseResultMap" type="com.springmvc.model.SysNotice">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="auditTime" jdbcType="TIMESTAMP" property="audittime" />
    <result column="auditState" jdbcType="VARCHAR" property="auditstate" />
    <result column="corporationId" jdbcType="INTEGER" property="corporationid" />
  </resultMap>

  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.springmvc.model.SysNotice">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>

  <resultMap extends="ResultMapWithBLOBs" id="JoinResultMap" type="com.springmvc.model.SysNotice">
    <!-- 增加级联属性 -->
    <result column="departName" jdbcType="VARCHAR" property="departName" />
    <result column="userName" jdbcType="VARCHAR" property="userName" />
    <result column="corporationName" jdbcType="VARCHAR" property="corporationName" />
  </resultMap>

  <sql id="Base_Column_List">
    id, userId, title, createTime,auditState,auditTime,corporationId
  </sql>

  <sql id="Blob_Column_List">
    content
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_notice
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectTopNewest" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_notice
    <if test="where != null">where ${where}</if>
    order by id desc
    limit ${top}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_notice
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.springmvc.model.SysNotice">
    insert into sys_notice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="auditstate != null">
        auditState,
      </if>
      <if test="audittime != null">
        auditTime,
      </if>
      <if test="corporationid != null">
        corporationId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="auditstate != null">
        #{auditstate,jdbcType=VARCHAR},
      </if>
      <if test="audittime != null">
        #{audittime,jdbcType=TIMESTAMP},
      </if>
      <if test="corporationid != null">
        #{corporationid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.springmvc.model.SysNotice">
    update sys_notice
    <set>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="auditstate != null">
        auditState = #{auditstate,jdbcType=VARCHAR},
      </if>
      <if test="corporationid != null">
        corporationId = #{corporationid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getCount" resultType="int">
    select count(1) from sys_notice s
    JOIN users u on s.userId=u.id
    join department d on u.departId=d.id
    join corporation c on u.corporationId=c.id
    <!-- 1) 对于形如#{variable} 的变量，Mybatis会将其视为字符串值，在变量替换成功后，缺省地给变量值加上引号 -->
    <!-- 2）对于形如${variable}的变量，Mybatis会将其视作直接变量，即在变量替换成功后，不会再给其加上引号。 -->
    <!-- 此处用$ 不用 #-->
    <if test="where != null">where ${where}</if>
    <if test="orderBy != null">order by ${orderBy}</if>
  </select>

  <select id="selectPagination" resultMap="JoinResultMap">
    select s.id,s.userId,s.title,s.content,s.createTime,s.auditState,s.auditTime,

    u.name as userName,d.name as departName,c.name as corporationName

    from sys_notice s

    JOIN users u on s.userId=u.id

    join department d on u.departId=d.id

    join corporation c on u.corporationId=c.id

    <!-- 1) 对于形如#{variable} 的变量，Mybatis会将其视为字符串值，在变量替换成功后，缺省地给变量值加上引号 -->
    <!-- 2）对于形如${variable}的变量，Mybatis会将其视作直接变量，即在变量替换成功后，不会再给其加上引号。 -->
    <!-- 此处用$ 不用 #-->
    <if test="where != null">where ${where}</if>
    <if test="orderBy != null">order by ${orderBy}</if>

    limit #{start},#{pageSize}

  </select>

</mapper>