<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springmvc.mapper.UsersTokenMapper">
  <resultMap id="BaseResultMap" type="com.springmvc.model.UsersToken">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="md5Token" jdbcType="VARCHAR" property="md5token" />
    <result column="loginTime" jdbcType="TIMESTAMP" property="logintime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userId, token, md5Token,loginTime
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from users_token
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from users_token
    where userId = #{userid,jdbcType=INTEGER}
  </select>

  <select id="selectByMd5Token" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from users_token
    where md5Token = #{md5Token,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from users_token
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.springmvc.model.UsersToken">
    insert into users_token (id, userId, token,
    md5Token, loginTime)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{token,jdbcType=VARCHAR},
    #{md5token,jdbcType=VARCHAR}, #{logintime,jdbcType=TIMESTAMP})
  </insert>

  <insert id="insertSelective" parameterType="com.springmvc.model.UsersToken">
    insert into users_token
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="token != null">
        token,
      </if>
      <if test="md5token != null">
        md5Token,
      </if>
      <if test="logintime != null">
        loginTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="token != null">
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="md5token != null">
        #{md5token,jdbcType=VARCHAR},
      </if>
      <if test="logintime != null">
        #{logintime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.springmvc.model.UsersToken">
    update users_token
    <set>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="token != null">
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="md5token != null">
        md5Token = #{md5token,jdbcType=VARCHAR},
      </if>
      <if test="logintime != null">
        loginTime = #{logintime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.springmvc.model.UsersToken">
    update users_token
    set userId = #{userid,jdbcType=INTEGER},
      token = #{token,jdbcType=VARCHAR},
      md5Token = #{md5token,jdbcType=VARCHAR},
      loginTime = #{logintime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>