<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springmvc.mapper.VSelectMapper">

  <resultMap id="BaseResultMap" type="com.springmvc.model.iview.VSelect">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="label" jdbcType="VARCHAR" property="label" />
  </resultMap>

  <select id="selectDataDictionaryDkey" resultMap="BaseResultMap">
    select
    DISTINCT dkey as value
    from data_dictionary
    where display=1
  </select>

  <select id="selectDataDictionaryValue" resultMap="BaseResultMap">
    select
    dvalue as value
    from data_dictionary
    <if test="where != null">where ${where}</if>
  </select>

  <select id="selectCorporation" resultMap="BaseResultMap">
    select
    name as label,
    id as id
    from corporation
    <if test="where != null">where ${where}</if>
  </select>

  <select id="selectDepartment" resultMap="BaseResultMap">
    select
    name as label,
    id as id
    from Department
    <if test="where != null">where ${where}</if>
  </select>

  <select id="selectRole" resultMap="BaseResultMap">
    select
    name as label,
    id as id
    from Role
    <if test="where != null">where ${where}</if>
  </select>


  <select id="selectAuditOperation" resultMap="BaseResultMap">
    select
    name as label,
    id as id
    from audit_operation
    <if test="where != null">where ${where}</if>
  </select>

  <select id="selectAuditKind" resultMap="BaseResultMap">
    select
    name as label,
    id as id
    from audit_kind
    <if test="where != null">where ${where}</if>
  </select>

</mapper>