iframe{width:100%;height:100%;padding:0;margin:0;}
img,body,html{border:0;}
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;}
img{vertical-align:middle;}
v\:rect, v\:oval, v\:stroke, v\:textbox, v\:shadow, v\:polyline, v\:fill {
    BEHAVIOR: url(#default#VML);
    display: inline-block;
}