<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.future.backstage.mapper.SysDataLogMapper">
  <resultMap id="BaseResultMap" type="com.future.backstage.entity.SysDataLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uId" jdbcType="INTEGER" property="uid" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="funid" jdbcType="VARCHAR" property="funid" />
    <result column="funname" jdbcType="VARCHAR" property="funname" />
    <result column="resource" jdbcType="VARCHAR" property="resource" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.future.backstage.entity.SysDataLog">
    <result column="changed" jdbcType="LONGVARCHAR" property="changed" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uId, type, name, funid, funname, resource, createTime
  </sql>
  <sql id="Blob_Column_List">
    changed
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_data_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_data_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.future.backstage.entity.SysDataLog">
    insert into sys_data_log (id, uId, type, 
      name, funid, funname, 
      resource, createTime, changed
      )
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{funid,jdbcType=VARCHAR}, #{funname,jdbcType=VARCHAR}, 
      #{resource,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{changed,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.future.backstage.entity.SysDataLog">
    insert into sys_data_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uId,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="funid != null">
        funid,
      </if>
      <if test="funname != null">
        funname,
      </if>
      <if test="resource != null">
        resource,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="changed != null">
        changed,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="funid != null">
        #{funid,jdbcType=VARCHAR},
      </if>
      <if test="funname != null">
        #{funname,jdbcType=VARCHAR},
      </if>
      <if test="resource != null">
        #{resource,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="changed != null">
        #{changed,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.future.backstage.entity.SysDataLog">
    update sys_data_log
    <set>
      <if test="uid != null">
        uId = #{uid,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="funid != null">
        funid = #{funid,jdbcType=VARCHAR},
      </if>
      <if test="funname != null">
        funname = #{funname,jdbcType=VARCHAR},
      </if>
      <if test="resource != null">
        resource = #{resource,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="changed != null">
        changed = #{changed,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.future.backstage.entity.SysDataLog">
    update sys_data_log
    set uId = #{uid,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      funid = #{funid,jdbcType=VARCHAR},
      funname = #{funname,jdbcType=VARCHAR},
      resource = #{resource,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      changed = #{changed,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.future.backstage.entity.SysDataLog">
    update sys_data_log
    set uId = #{uid,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      funid = #{funid,jdbcType=VARCHAR},
      funname = #{funname,jdbcType=VARCHAR},
      resource = #{resource,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.future.backstage.entity.SysDataLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uId" jdbcType="INTEGER" property="uid" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="funid" jdbcType="VARCHAR" property="funid" />
    <result column="funname" jdbcType="VARCHAR" property="funname" />
    <result column="resource" jdbcType="VARCHAR" property="resource" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.future.backstage.entity.SysDataLog">
    <result column="changed" jdbcType="LONGVARCHAR" property="changed" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uId, type, name, funid, funname, resource, createTime
  </sql>
  <sql id="Blob_Column_List">
    changed
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_data_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_data_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.future.backstage.entity.SysDataLog">
    insert into sys_data_log (id, uId, type, 
      name, funid, funname, 
      resource, createTime, changed
      )
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{funid,jdbcType=VARCHAR}, #{funname,jdbcType=VARCHAR}, 
      #{resource,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{changed,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.future.backstage.entity.SysDataLog">
    insert into sys_data_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uId,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="funid != null">
        funid,
      </if>
      <if test="funname != null">
        funname,
      </if>
      <if test="resource != null">
        resource,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="changed != null">
        changed,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="funid != null">
        #{funid,jdbcType=VARCHAR},
      </if>
      <if test="funname != null">
        #{funname,jdbcType=VARCHAR},
      </if>
      <if test="resource != null">
        #{resource,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="changed != null">
        #{changed,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.future.backstage.entity.SysDataLog">
    update sys_data_log
    <set>
      <if test="uid != null">
        uId = #{uid,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="funid != null">
        funid = #{funid,jdbcType=VARCHAR},
      </if>
      <if test="funname != null">
        funname = #{funname,jdbcType=VARCHAR},
      </if>
      <if test="resource != null">
        resource = #{resource,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="changed != null">
        changed = #{changed,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.future.backstage.entity.SysDataLog">
    update sys_data_log
    set uId = #{uid,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      funid = #{funid,jdbcType=VARCHAR},
      funname = #{funname,jdbcType=VARCHAR},
      resource = #{resource,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      changed = #{changed,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.future.backstage.entity.SysDataLog">
    update sys_data_log
    set uId = #{uid,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      funid = #{funid,jdbcType=VARCHAR},
      funname = #{funname,jdbcType=VARCHAR},
      resource = #{resource,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>