<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.future.backstage.mapper.SysRoleMenuMapper">
  <resultMap id="BaseResultMap" type="com.future.backstage.entity.SysRoleMenu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="roleId" jdbcType="VARCHAR" property="roleid" />
    <result column="menuItemId" jdbcType="VARCHAR" property="menuitemid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, roleId, menuItemId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_role_menu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_role_menu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.future.backstage.entity.SysRoleMenu">
    insert into sys_role_menu (id, roleId, menuItemId
      )
    values (#{id,jdbcType=INTEGER}, #{roleid,jdbcType=VARCHAR}, #{menuitemid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.future.backstage.entity.SysRoleMenu">
    insert into sys_role_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roleid != null">
        roleId,
      </if>
      <if test="menuitemid != null">
        menuItemId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roleid != null">
        #{roleid,jdbcType=VARCHAR},
      </if>
      <if test="menuitemid != null">
        #{menuitemid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.future.backstage.entity.SysRoleMenu">
    update sys_role_menu
    <set>
      <if test="roleid != null">
        roleId = #{roleid,jdbcType=VARCHAR},
      </if>
      <if test="menuitemid != null">
        menuItemId = #{menuitemid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.future.backstage.entity.SysRoleMenu">
    update sys_role_menu
    set roleId = #{roleid,jdbcType=VARCHAR},
      menuItemId = #{menuitemid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>