<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.future.backstage.mapper.SysUsersControlLogMapper">
  <resultMap id="BaseResultMap" type="com.future.backstage.entity.SysUsersControlLog">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="createdate" jdbcType="TIMESTAMP" property="createdate" />
    <result column="departName" jdbcType="VARCHAR" property="departname" />
    <result column="uName" jdbcType="VARCHAR" property="uname" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.future.backstage.entity.SysUsersControlLog">
    <result column="parameter" jdbcType="LONGVARCHAR" property="parameter" />
  </resultMap>
  <sql id="Blob_Column_List">
    parameter
  </sql>
  <insert id="insert" parameterType="com.future.backstage.entity.SysUsersControlLog">
    insert into sys_users_control_log (id, uid, token, 
      type, url, name, createdate, 
      departName, uName, parameter
      )
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{token,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{createdate,jdbcType=TIMESTAMP}, 
      #{departname,jdbcType=VARCHAR}, #{uname,jdbcType=VARCHAR}, #{parameter,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.future.backstage.entity.SysUsersControlLog">
    insert into sys_users_control_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="token != null">
        token,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="createdate != null">
        createdate,
      </if>
      <if test="departname != null">
        departName,
      </if>
      <if test="uname != null">
        uName,
      </if>
      <if test="parameter != null">
        parameter,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="token != null">
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="departname != null">
        #{departname,jdbcType=VARCHAR},
      </if>
      <if test="uname != null">
        #{uname,jdbcType=VARCHAR},
      </if>
      <if test="parameter != null">
        #{parameter,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>