<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.future.backstage.mapper.SysUsersLoginLogMapper">
  <resultMap id="BaseResultMap" type="com.future.backstage.entity.SysUsersLoginLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="lastId" jdbcType="INTEGER" property="lastid" />
    <result column="usersId" jdbcType="INTEGER" property="usersid" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="result" jdbcType="VARCHAR" property="result" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createdate" />
    <result column="token" jdbcType="VARCHAR" property="token" />
  </resultMap>
  <sql id="Base_Column_List">
    id, lastId, usersId, ip, country, province, city, result, createDate, token
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_users_login_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_users_login_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.future.backstage.entity.SysUsersLoginLog">
    insert into sys_users_login_log (id, lastId, usersId, 
      ip, country, province, 
      city, result, createDate, 
      token)
    values (#{id,jdbcType=INTEGER}, #{lastid,jdbcType=INTEGER}, #{usersid,jdbcType=INTEGER}, 
      #{ip,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{result,jdbcType=VARCHAR}, #{createdate,jdbcType=TIMESTAMP}, 
      #{token,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.future.backstage.entity.SysUsersLoginLog">
    insert into sys_users_login_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="lastid != null">
        lastId,
      </if>
      <if test="usersid != null">
        usersId,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="result != null">
        result,
      </if>
      <if test="createdate != null">
        createDate,
      </if>
      <if test="token != null">
        token,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="lastid != null">
        #{lastid,jdbcType=INTEGER},
      </if>
      <if test="usersid != null">
        #{usersid,jdbcType=INTEGER},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="result != null">
        #{result,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="token != null">
        #{token,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.future.backstage.entity.SysUsersLoginLog">
    update sys_users_login_log
    <set>
      <if test="lastid != null">
        lastId = #{lastid,jdbcType=INTEGER},
      </if>
      <if test="usersid != null">
        usersId = #{usersid,jdbcType=INTEGER},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="result != null">
        result = #{result,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        createDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="token != null">
        token = #{token,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.future.backstage.entity.SysUsersLoginLog">
    update sys_users_login_log
    set lastId = #{lastid,jdbcType=INTEGER},
      usersId = #{usersid,jdbcType=INTEGER},
      ip = #{ip,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      result = #{result,jdbcType=VARCHAR},
      createDate = #{createdate,jdbcType=TIMESTAMP},
      token = #{token,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>