/* 自定义风格 */

.ivu-form .ivu-form-item-label {
    font-size: 14px;
}

/* 修改表格的字体 */
.ivu-table {
    width: inherit;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    color: #495060;
    font-size: 14px;
    background-color: #fff;
    box-sizing: border-box;
}

/* 修改表格的鼠标经过颜色 */
.ivu-table-stripe .ivu-table-body tr.ivu-table-row-hover td,.ivu-table-stripe .ivu-table-fixed-body tr.ivu-table-row-hover td {
    background-color: rgba(255, 102, 00, 0.5);
    color: #fff;
    font-weight: bold;
}

/* 修改表格的鼠标经过颜色  选中颜色覆盖经过颜色 */
.ivu-table-stripe .ivu-table-body tr.ivu-table-row-highlight.ivu-table-row-hover td,.ivu-table-stripe .ivu-table-fixed-body tr.ivu-table-row-highlight.ivu-table-row-hover td {
    background-color: rgba(255, 102, 00, 1);
    color: #fff;
    font-weight: bold;
}


/* 修改表格的选中颜色 */
.ivu-table-row-highlight td, .ivu-table-stripe .ivu-table-body tr.ivu-table-row-highlight:nth-child(2n) td, .ivu-table-stripe .ivu-table-fixed-body tr.ivu-table-row-highlight:nth-child(2n) td, tr.ivu-table-row-highlight.ivu-table-row-hover td {
    background-color: rgba(255, 102, 00, 1);
    color: #fff;
    font-weight: bold;
}

/*修改model对话框标题默认字体*/
.ivu-modal-confirm-head-title {
    display: inline-block;
    font-size: 16px;
    color: #1c2438;
    font-weight: 700;
}

/*修改model对话框提示内容默认字体 */
.ivu-modal-confirm-body {
    margin-top: 6px;
    padding-left: 48px;
    padding-top: 18px;
    font-size: 14px;
    color: #495060;
    position: relative;
}

/* 修改tree的字体大小 */
.ivu-tree ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

/* 配置model背景  head 和 foot */
.ivu-modal-content {
    background-color: #f8f8f9;
}

/* 配置model背景  head 文字颜色 */
.ivu-modal-header .my-modal-title{
    font-weight:700;
    color:#000;
    text-align:left;
    letter-spacing:1px;
    font-size: 15px;
}

/* 配置model背景 body */
.ivu-modal-header + .ivu-modal-body {
    background-color: #ffffff;
}


/*修改tip宽度样式*/
.ivu-tooltip-inner {
    max-width: 500px;
    min-height: 34px;
}