body{
    background-color: #f0f0f0;
}

.home-main{
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    overflow: auto;
}

.user-infor {
    height: 120px;
}

.avator-img {
    display: block;
    width: 80%;
    max-width: 100px;
    height: auto;
}

.card-user-infor-name {
    cursor: pointer;
    font-size: 2em;
    color: #2d8cf0;
}

.user-infor p{
    cursor: pointer;
    margin: 2px 0px;
}

.user-infor p span {
    margin-left: 3px;
}

.card-title {
    color: #abafbd;
}

.infor-card-con {
    height: 100px;
}

.infor-card-icon-con {
    height: 100%;
    color: white;
    border-radius: 3px 0 0 3px;
}

.map-con {
    height: 305px;
}

.map-incon {
    height: 100%;
}

.map-incon-left{
    height: 100%;
    margin: 12px 0 0 11px;
}

.map-incon-right{
    height: 100%;
}

.bar-chart-con {
    height: 250px;
}

.line-chart-con {
    height: 250px;
}

.infor-card-icon-con {
    height: 100%;
}

.height-100 {
    height: 100%;
}

.infor-card-con {
    height: 100px;
}

.infor-intro-text {
    font-size: 12px;
    font-weight: 500;
    color: #C8C8C8;
}

.to-do-list-con {
    height: 160px;
    overflow: auto;
}

.to-do-item{
    padding: 2px;
    border-bottom: 1px dashed #ebebeb;
}

.to-do-list-item-text {
    width:100%;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    line-height: 36px;
    height: 36px;
}

.to-do-list-item-text .height-100 {
    height: 100%;
}

.to-do-list-item-text .infor-icon-row {
    color: #c8c8c8;
}

.to-do-list-item-text a:hover {
    color:#CC3300;text-decoration:underline;
}

.hasDid {
    text-decoration: line-through;
    color: gray;
    font-weight: 100;
}