<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
    <settings>
        <!-- 指定 MyBatis 所用日志的具体实现，未指定时将自动查找
         SLF4J | LOG4J | LOG4J2 | JDK_LOGGING | COMMONS_LOGGING | STDOUT_LOGGING | NO_LOGGING
         日志输出级别必须是DEBUG
         -->
        <setting name="logImpl" value="SLF4J" />
        <!-- 指定 MyBatis 增加到日志名称的前缀 Any String-->
        <setting name="logPrefix" value="mybatis" />
    </settings>
    <plugins>
        <!-- 拦截器 -->
        <plugin interceptor="com.springmvc.interceptor.MyBatisInterceptor"></plugin>
    </plugins>
</configuration>